---
# Leave this empty front matter block at the top
---

/* 1. Define your custom width FIRST */
$max-width: max(1200px, calc(100vw - 500px));

/* 2. Import the main theme stylesheet last */
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes";



.responsive-img {
  display: block;
  margin: 0 auto 15px auto;
  max-width: 50%;
  height: auto;
}
 
@media (min-width: 500px) {
  .responsive-img {
    float: right;
    margin: 0 0 15px 20px;
    width: 40%;
    max-width: 500px
  }
}

pre, code {
  white-space: pre-wrap;       /* Triggers wrapping */
  word-break: break-all;
  overflow-x: auto;            /* Triggers a scrollbar if pre-wrap isn't used */
  max-width: 100%;
}

